@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
display: inline-block;
text-decoration: none;
color:white;
}

body{
    margin: 0;
    padding: 0; 
    font-family: "Poppins", sans-serif;

    -webkit-font-smoothing: antialiased;
    -ms-overflow-style:none;

    background-color: black;
    color: white;

}

/* GENERAL */

.title{
    text-transform: uppercase;
    line-height: 1em;
    font-size: 5em;
    font-weight: 600;
    text-shadow: #000 1px 0 50px;
}

.subtitle{
    text-transform: uppercase;
}

.logo{
    font-size: 20px;
    font-weight: 500;
}

.button{
    background-color: rgba(0,0,0, 500);
    padding: 10px 35px;
    backdrop-filter: blur(5px);
    border-radius: 6px;
    text-transform: uppercase;

    transition:  .2s;
}

.button:hover{
    background-color: white;
    color: black;
}

.m-link{
    transition: .2s all;
}

.m-link:hover{
    color: #D01F3C;
}
/* MAIN */

.main{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:2em;

    background: url(../assets/images/main-bg.jpg) center center no-repeat;
    background-size:cover;

}

.m-inner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* ABOUT */

.about{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.cursive-title{
    font-weight: 200;
    font-style: italic;
}

.about-cards{
    display: flex;
    position: relative;
}

.a-card{
    height: 300px;
    width: 300px;
    background-color:rgba(19, 19, 19, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    text-align: left;
    justify-content: space-between;
    padding: 2em;
    backdrop-filter: blur(5px);
}

.card-subtitle{
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1em;
}

.card-numbers{
    font-size: 4em;

}

.about-card-inner{
    display: flex;
    gap: 20px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index:1000;
}
.about-shape{
    position: absolute ;
    z-index:500;
    height: 500px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);  
    /* тут короче шоб в центр поставить а то на верху почему-то спавнится хз как работает*/
} 

/* TRUSTED */

.trusted{

display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
padding: 2em;
height: 50vh;
justify-content: center;
margin: 10em 0;
}

.t-inner{
    display: flex;
    gap: 40px;
}

#t-inner-mobile{
    display: none;
}

.t-item{
    filter: contrast(0%);
    transition: 0,4s all;
}

.t-item:hover{
    filter: contrast(100%);
}

/* LEGEND */

.legend{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 4em;
    gap: 50px;
}

.l-logo{
    height: 20px;
}

.l-text{
    font-size: 2,5em;
    line-height: 1em;
    font-weight: 400;
}

/* TEAM */

.team{
    margin: 4em;
}

.team-img{
    width: 100%;
    height: 500px;
    background: url(../assets/images/team-img.jpg) center center no-repeat;
    background-size: cover ;
    border-radius: 14px;
    display: flex;
    padding: 1em;
    align-items: flex-end;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1em;
}

/* PORTFOLIO */

.shape-container{
    display: flex;
    justify-content: center;
    margin: 2em 0em;
}
.break-shape{
    height: 300px; 
    transition: 1s all;
}

.break-shape:hover{
    transform: rotate(-30deg);
    transition: .2s all;
}

.portfolio{
    margin: 3em 0em;
    width: 100%;
    padding: 4em;
}

.p-item{
    height: 30px;
    width: 100%;
}

.p-header, .p-row{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #333333;
    padding: 1em 0em;
}

.p-row{
    transition: 1s all;
    background: transparent;
}

#pr-1:hover{
    background: url(../assets/images/godzilla-pr-bg.jpg) center;
    background-size: cover;
    transition: 1s all;
}

#pr-2:hover{
    background: url(../assets/images/barryallen-pr-bg.jpg) center;
    background-size: cover; 
    transition: 1s all;
}

#pr-3:hover{
    background: url(../assets/images/itachimishima-pr-bg.jpg) center;
    background-size: cover;
    transition: 1s all;
}

#pr-4:hover{
    background: url(../assets/images/jinkazama-pr-bg.jpg )center;
    background-size: cover;
    transition: 1s all;
}

#pr-5:hover{
    background: url(../assets/images/ezioauditore-pr-bg.jpg) center;
    background-size: cover;
    transition: 1s all;
}

#pr-6:hover{
    background:url(../assets/images/oliverqueen-pr-bg1.png) center;
    background-size: cover;
    transition: 1s all;
}

#pr-7:hover{
    background: url(../assets/images/peterparker-pr-bg.jpg) center;
    background-size: cover;
    transition: 1s all;
}

/* CTA */

.cta{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-cta{
    text-align: center;
    height: 50;
}

.cta-btn{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

#cta-btn{
    border: 1px solid white;
}

/* FOOTER */

.footer{
    width:100%;
    padding:0em 4em;
}

.foot-up{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 0.5em;
}

.fu-text{
    font-size: 2.5em;
    margin-right: 31px;
    font-weight: 100;
    white-space: nowrap;
}

.fu-inner{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    font-size: 2.5em;
    color: gray;
    border-bottom: 1px solid gray ;
    width: 100%;
    align-items: center;
}

.lupa{
    margin-left: 20px;
}

.foot-mdl{
    text-transform: uppercase;
    font-size: 10vw;
    display: flex;
    justify-content:space-between;
    width: 100%;
    line-height: 2em;
    pointer-events: none;
    user-select: none;
    /* при этих двух нельзя ни ховер ни селект(скопировать) */
}

.foot-btm{
    display: flex;
    justify-content: space-between;
}

.f-inner{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 1000px) {
    #header-title{
        font-size: 2em;
    }

    .m-inner{
        align-items: unset;
        flex-direction: column;
        gap: 30px;
    }

    .m-links{
        text-transform: uppercase;
    }
    
    .title{
        font-size: 10vh;
    }

    .about-card-inner{
        flex-direction: column;
    }

    .trusted {
        height: 200vh;
    }

    #t-inner-mobile{
        display: flex;
    }
    
    #t-inner-desktop{
        display: none;
    }

    #p-item-off{
        display: flex;
    }

    .p-item {
        width: unset;
    }

}