@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
display: inline-block;
text-decoration: none;
color:white;
}

body{
    margin: 0;
    padding: 0; 
    font-family: "Poppins", sans-serif;

    -webkit-font-smoothing: antialiased;
    -ms-overflow-style:none;

    background-color: black;
    color: white;

}

/* GENERAL */

.title{
    text-transform: uppercase;
    line-height: 1em;
    font-size: 5em;
    font-weight: 600;
    text-shadow: #000 1px 0 50px;
}

.subtitle{
    text-transform: uppercase;
}

.logo{
    font-size: 20px;
    font-weight: 500;
}

.button{
    background-color: rgba(0,0,0, 500);
    padding: 10px 35px;
    backdrop-filter: blur(5px);
    border-radius: 6px;
    text-transform: uppercase;

    transition:  .2s;
}

.button:hover{
    background-color: white;
    color: black;
}

.m-link{
    transition: .2s all;
}

.m-link:hover{
    color: #D01F3C;
}
/* MAIN */

.main{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:2em;

    background: url(../assets/images/main-bg.jpg) center center no-repeat;
    background-size:cover;

}

.m-inner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* ABOUT */

.about{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.cursive-title{
    font-weight: 200;
    font-style: italic;
}

.about-cards{
    display: flex;
    position: relative;
}

.a-card{
    height: 300px;
    width: 300px;
    background-color:rgba(19, 19, 19, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    text-align: left;
    justify-content: space-between;
    padding: 2em;
    backdrop-filter: blur(5px);
}

.card-subtitle{
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1em;
}

.card-numbers{
    font-size: 4em;

}

.about-card-inner{
    display: flex;
    gap: 20px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index:1000;
}
.about-shape{
    position: absolute ;
    z-index:500;
    height: 500px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);  
    /* тут короче шоб в центр поставить а то на верху почему-то спавнится хз как работает*/
} 

/* TRUSTED */

.trusted{

display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
padding: 2em;
height: 50vh;
justify-content: center;
margin: 10em 0;
}

.t-inner{
    display: flex;
    gap: 40px;
}

.t-item{
    filter: contrast(0%);
    transition: 0,4s all;
}

.t-item:hover{
    filter: contrast(100%);
}

/* LEGEND */

.legend{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 4em;
    gap: 50px;
}

.l-logo{
    height: 20px;
}

.l-text{
    font-size: 2,5em;
    line-height: 1em;
    font-weight: 400;
}

/* TEAM */

.team{
    margin: 4em;
}

.team-img{
    width: 100%;
    height: 500px;
    background: url(../assets/images/team-img.jpg) center center no-repeat;
    background-size: cover ;
    border-radius: 14px;
    display: flex;
    padding: 1em;
    align-items: flex-end;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1em;
}

/* PORTFOLIO */

.shape-container{
    display: flex;
    justify-content: center;
    margin: 2em 0em;
}
.break-shape{
    height: 300px; 
    transition: 1s all;
}

.break-shape:hover{
    transform: rotate(-30deg);
    transition: .2s all;
}

.portfolio{
    height: 100vh;
    width: 100%;
    padding: 4em;
}

.p-item{
    height: 30px;
    width: 50px;
}

.p-header{
    display: flex;
}